<!doctype html>
<html lang="en" ng-app="TicketMachineApp">
<head>
    <title>Ticket Machine</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
    <link rel="stylesheet" href="dist/libs.min.css" />
    <link rel="stylesheet" href="dist/app.min.css" />
</head>
<body ng-cloak ng-controller="MainController">
    <div class="hero-image">
        <div class="overlay"></div>
        <div class="content">
            <h1>Ticket Machine</h1>

            <div class="preferences">
                <div class="box">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Participants</label>
                    <input type="number" ng-model="vm.participants" />
                </div>
                <div class="box">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> Events from</label>
                    <input type="date" ng-model="vm.fromDate" />
                </div>
                <div class="box">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> Events to</label>
                    <input type="date" ng-model="vm.toDate" />
                </div>
            </div>

            <div class="cta-cont">
                <button class="cta" ng-disabled="!(vm.participants && vm.fromDate && vm.toDate) || vm.locked" ng-click="vm.initGame();">
                    <span ng-show="!vm.locked">Search</span>
                    <span ng-show="vm.locked">Searching...</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="slot-machine">
            <slot-container items="vm.artists" type="artist"></slot-container>
            <slot-container items="vm.events" type="event"></slot-container>
            <slot-container items="vm.hotels" type="hotel"></slot-container>
        </div>

        <div ng-show="vm.selectedItems.hotel">
            <h2>Details</h2>

            <item-details type="event" item="vm.selectedItems.event" participants="vm.participants"></item-details>
            <item-details type="hotel" item="vm.selectedItems.hotel" participants="vm.participants"></item-details>
        </div>
    </div>

    <script src="dist/libs.min.js"></script>
    <script src="dist/app.min.js"></script>
</body>
</html>
