<!doctype html>
<html lang="en" ng-app="TicketMachineApp">
<head>
    <title>Ticket Machine</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
    <link rel="stylesheet" href="dist/libs.min.css" />
    <link rel="stylesheet" href="dist/app.min.css" />
</head>
<body ng-cloak ng-controller="MainController">
    <div class="hero-image">
        <div class="overlay"></div>
        <div class="content">
            <h1>Ticket Machine</h1>

            <div class="preferences">
                <div class="box">
                    <label>Participants</label>
                    <input type="number" ng-model="vm.participants" />
                </div>
                <div class="box">
                    <label>Events from</label>
                    <datepicker date-format="yyyy-MM-dd" date-set="{{ vm.getDateFor(0) }}">
                        <input ng-model="vm.fromDate" type="text" />
                    </datepicker>
                </div>
                <div class="box">
                    <label>Events to</label>
                    <datepicker date-format="yyyy-MM-dd" date-set="{{ vm.getDateFor(90) }}">
                        <input ng-model="vm.toDate" type="text" />
                    </datepicker>
                </div>
            </div>

            <div class="cta-cont">
                <button class="cta" ng-disabled="!(vm.participants && vm.fromDate && vm.toDate)" ng-click="vm.initGame();">
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="slot-machine">
            <slot-container items="vm.artists" type="artist"></slot-container>
            <slot-container items="vm.events" type="event"></slot-container>
            <slot-container items="vm.hotels" type="hotel"></slot-container>
        </div>

        <div ng-show="vm.selectedItems.hotel">
            <h2>Details</h2>

            <item-details type="event" item="vm.selectedItems.event"></item-details>
            <item-details type="hotel" item="vm.selectedItems.hotel"></item-details>
        </div>
    </div>

    <script src="dist/libs.min.js"></script>
    <script src="dist/app.min.js"></script>
</body>
</html>
