@import 'common';

$CARD_HEIGHT: 130px;
$CARD_WIDTH: 200px;
$CARD_WIDTH_MOBILE: 110px;

.item-details {
    border: 1px dotted $color-black;
    padding: 12px;
    margin-bottom: 12px;

    .content {
        width: 100%;
        position: relative;
        padding-left: $CARD_WIDTH + 12;
        min-height: $CARD_HEIGHT;
        box-sizing: border-box;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: $CARD_WIDTH;
        height: $CARD_HEIGHT;
        object-fit: cover;
    }

    .title {
        font-weight: bold;
        @include font-size(1.2);
        margin-bottom: 12px;
    }

    p {
        @include font-size(1, 1.5);
    }

    .fa-star {
        color: $color-star;
    }

    .tripadvisor {
        color: $color-tripadvisor;
        font-weight: bold;
    }

    .btn {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    @include mediaQuery(mobile) {
        .content {
            padding-left: $CARD_WIDTH_MOBILE + 12;
        }

        img {
            width: $CARD_WIDTH_MOBILE;
        }
    }
}
