@import 'common';

.hero-image {
    position: relative;
    background-image: url(/images/hero-image.jpg);
    background-position: center center;
    background-size: cover;
    padding: 24px;
    color: $color-white;

    h1 {
        text-shadow: 2px 2px rgba($color-black, 0.5);
    }

    .fa {
        margin-right: 6px;
    }

    input {
        padding: 6px;
        text-align: center;
        border-radius: 3px;
        border: 0;
        font-family: 'Roboto', Arial, sans-serif;
        height: 24px;
        box-sizing: border-box;
    }

    .content {
        position: relative;
        z-index: 1;

        @include mediaQuery(desktop) {
            width: $SITE_CONTAINER_WIDTH;
            margin: 0 auto;
        }
    }

    .cta-cont {
        text-align: center;

        .cta {
            @include font-size(1.2);
        }
    }
}

.search-module {
    margin: 24px 0;
    text-align: center;

    .box {
        display: inline-block;
        vertical-align: top;
        background-color: rgba($color-black, 0.75);
        margin: 6px;
        padding: 12px;
        border-radius: 3px;
    }

    .error-message {
        display: block;
        margin-bottom: 12px;
    }

    label {
        margin-bottom: 6px;
    }

    label,
    datepicker {
        display: block;
    }

    input[type="number"] {
        width: 100%;
        box-sizing: border-box;
    }
}
