@import 'common';

$SLOT_WIDTH: 300px;
$SLOT_HEIGHT: 200px;

.slot-container {
    width: $SLOT_WIDTH;
    height: $SLOT_HEIGHT;
    overflow: hidden;

    .slot {
        position: relative;
        width: $SLOT_WIDTH;
        height: $SLOT_HEIGHT;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            @include vertical-centered();
            padding: 12px;
            box-sizing: border-box;

            .name {
                @include font-size(2);
                color: $color-white;
            }

            .price {
                margin-top: 12px;
                @include font-size(2);
                color: $color-main;
            }
        }
    }
}
